<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ALL$MILES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse" id="navbarToggler">
    <ul class="navbar-nav">
      <li *ngFor="let navHeadItem of navLinksHead" class="nav-item dropdown"  >
        <a class="nav-link dropdown-toggle" id="{{navHeadItem.name}}" role="button" data-bs-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" routerLink="{{navHeadItem.link}}">
          {{navHeadItem.name}}
        </a>
        <div attr.aria-labelledby="{{navHeadItem.name}}" class="dropdown-menu">
          <a *ngFor="let item of navHeadItem.group" class="dropdown-item" routerLink="{{item.link}}"> {{item.name}} </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
